src/main/resources/schema/daggerok.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://github.com/daggerok/ws/v1"
           targetNamespace="http://github.com/daggerok/ws/v1"
           elementFormDefault="qualified">

    <xs:element name="daggerokRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Question" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="daggerokResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
